#menu-h {
    max-width: 100%;
    min-height: 20px;
    background: green;
    margin: 0 auto;
}

#menu-h ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#menu-h ul li {
    display: inline-block;
    margin: 0 10px;
}

#menu-h ul li a {
    color: white;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    background: green;
    font-size: 18px;
}

#menu-h ul li a:hover {
    background-color: lawngreen;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    margin: 20px;
}

article {
    flex: 3; /* Artículo ocupa 3/4 del espacio */
    background-color: #eaf0de; /* Verde claro */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    transition: box-shadow 0.3s ease; /* Efecto de transición en la sombra */
}

article:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

aside {
    flex: 1; /* Aside ocupa 1/4 del espacio */
    background-color: #f3e6c8; /* Color tierra */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    transition: box-shadow 0.3s ease; /* Efecto de transición en la sombra */
}

aside:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el ratón */
}

h1, h2 {
    color: #006400;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

a {
    color: #170131;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.return-link-container {
    text-align: center;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
.return-link-container a {
    display: inline-block; /* Hace que el enlace sea un elemento en línea */
    margin-top: -20px; /* Ajusta el margen superior negativo para alinear con los elementos anteriores */
    margin-bottom: 10px; /* Ajusta el margen inferior para alejarlo del borde inferior */
}